# Build folders
node_modules/
build/  # Or <your_build_directory>/

# Dependency lock files
package-lock.json

# IDE and OS specific files
.DS_Store
.idea/
local.env  # Add other environment specific files

# Test coverage reports
coverage/

# Temporary files
npm-debug.log
yarn.lock

# Editor stuff
*.log
*.sav
*.sublime-project
*.sublime-workspace

# Typical VSCode files
.vscode/
**/.vscode/*

# Compiled Typescript files, if applicable
*.d.ts
